#rodape {
    
    justify-content:center !important;
    
}


.icones{
    margin-right: 0.5rem !important;
}

.paragrafo{
    margin-left: 0.5rem !important;
}

.icon {
    margin-left: 0.5rem !important;
}

.rodape {
    display: flex !important;
    justify-content: space-around !important;
}