* {
    box-sizing: border-box;
    font-family: Fira Sans,sans-serif;
    margin: 0;
    padding: 0;
}
        
#banner-bg {
    width: 100%;
    height: calc(100vh - 81px);
    background-image: url("https://i.ytimg.com/vi/-tTglFYF1wo/maxresdefault.jpg");
    background-size: cover;
    background-attachment: fixed;
    display: flex;    
    justify-content: center;
    align-items: center;
    //Outros backgrounds
    //https://portal.fgv.br/sites/portal.fgv.br/files/styles/noticia_geral/public/noticias/03/21/tech_0.jpg?itok=rgv78WEq
    //https://i.ytimg.com/vi/-tTglFYF1wo/maxresdefault.jpg
    
    .banner-jr {      
      color: white;
      text-shadow: 5px 5px 5px #222;
      justify-content:center !important;
      align-items: center;
      text-align: center;      
      padding-bottom: 1rem;
      width: 300px;


      .banner-img{
        :hover {
          transform: scale(0.8);
          transition-duration:  0.3s;
      
        }
      }
      
      .banner-texto  {
        width: 100%;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        font-weight: 700;        
        justify-content: center;
        padding: 6rem 2rem 0;
        
          
        h2 {
          font-size: 2rem;
          margin-bottom: 1rem;
        }
        
        p {
          font-size: 1rem;
          text-align: justify;
        }
        
       
      }
      
      .about-me {
            font-size: 3.5rem;
            margin-bottom: 2rem;
            word-break: break-word;
            
            @media (min-width: 1024px) {
            font-size: 3rem;
            }
            
            @media (min-width: 768px) {
            font-size: 2.5rem;
            }
            
            @media (min-width: 425px) {
            font-size: 2rem;
            }
            
        }
      
    
      
      img {
          display: inline-block; 
          max-width: 16rem;
          border: 2px solid white;
          border-radius: 8rem;
          justify-content: center;
          align-items: center;
          margin-bottom: 1rem;    
          
          
      }  

      
    }

  }
